<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="dbconnection" connectionString="Data Source=LAPTOP-RP1PV1SH\HUMBERBRIDGING;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
      <add name ="myHumberDB" connectionString="Data Source=LAPTOP-RP1PV1SH\HUMBERBRIDGING;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>  </connectionStrings>
</configuration>